html {
    margin:0 auto;
    height: 100%;
}

body {
    background: #fff;
    padding: 0;
    margin:0;
    font-family: Helvetica;
    font-size: 16px;
    color: #888;
}

header {
    height:399px;
    width: 100%;
    margin-top:-45px;
    background: #707070 0% 0%;
    transform: skewY(4deg);
    z-index: -1;
    position: absolute;
}

#header {
    margin-top:-29px;
    text-align: center;
    z-index: 4;
    color:white;
}

#headerfix {
    background: #707070 0% 0%;
    height: 100px;
    width: 100%;
    z-index: -1;
}

main {
    margin: 121px auto;
    max-width: 930px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

h1 {
    font-size: 49px;
    margin-top:0px
}

h2 {
    font-size: 20px;
    margin: 0px;
    font-weight: 200;
}

#nav ul {
    padding:0px;
    margin: 50px 0px 0px 0px;
    list-style: none;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    width: 160px;
    height: 20px;
    padding: 10px;
    margin: 10px 20px;
    background: white;
    color: #707070;
    display: inline-block;
    text-decoration: none;
    border:1px solid #707070;
    border-radius: 4px;
    box-shadow: 0px 1px 6px grey;
}

.box {
    max-width: 520px;
    margin-right: 60px;
    font-size:12px;
    text-align: left;
    float: left;
}

.box_forms {
    width: 340px;
    font-size:12px;
    text-align: left;
    color: #888;
    float: right;
}

input[type="text"],input[type="email"]{
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    opacity: 1;
    margin: 7px 0px 20px 0px;
}

input[type="radio"]{
    margin-top: -2px;
    vertical-align: middle;
}

label {
    margin: 0px 40px 0px 0px;
    display: inline-block;
}

.send {
    width: 346px;
    height: 39px;
    border: 1px solid #707070;
    opacity: 1;
    font-size: 16px;
    padding-top: 2px;
    margin: 0 auto;
    margin-top: 23px;
    background: white;
    color: #707070;
}

.risk {
    width: 930px;
    border-bottom: 1px solid #707070;
    margin-top: 391px;
    position:relative;
}

.products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    top: 130px;
    margin-bottom: 268px;
    clear: both;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap:40px;
    grid-row-gap:39px;
}

.product {
    width: 200px;
    height: 430px;
    margin: 10px 15px;
    display: inline-block;   
}

.p_img{
    width: 200px;
    height: 200px;
    border: 1px solid #707070;
    margin: 0px 0px 14px 0px;
}
.p_descript {
    width: 200px;
    height: 200px;
    text-align: left;
    font-size: 12px;
}

.p_descript h1 {
    font-size: 14px;
}

.p_descript h2 {
    font-size: 16px;
    font-weight: bold;
    margin: -5px auto;
}

.p_btn {
    width: 200px;
    height: 30px;
    border: 1px solid #707070;
    opacity: 1;
    font-size: 16px;
    padding-top: 2px;
    border-radius: 4px;
    background: white;
    color: #707070;
}

.maisp_btn {
    width: 260px;
    height: 39px;
    border: 1px solid #707070;
    opacity: 1;
    font-size: 16px;
    padding-top: 2px;
    border-radius: 4px;
    background: white;
    color: #707070;
}

.share {
    margin: 0 auto;
    text-align: left;
    margin-top:54px;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 30px;
    grid-template-areas:
        "title title"
        "name email"
        "btn btn";
}

.line {
    border-bottom: 1px solid #707070;
    width: 100%;
    text-align: center;
    margin-top: -100px;
}

.line2 {
    border-bottom: 1px solid #707070;
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.section {
    font-size: 18px;
    background-color: white;
    text-align: center;
    top: 20px;
    z-index: 1;
    font-weight: bold;
    color: #888;
    padding: 0px 10px;
}

.title {
    grid-area: title;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.name {
    grid-area: name;
    margin: 0 auto;
    width: 90%;
}

.email {
    grid-area: email;
    margin: 0 auto;
    width: 90%;
}

.btn {
    margin-top: 50px;
    grid-area: btn;
    text-align: center;
}

.clear {
    clear: both;
}

#footer {
    background: #707070 0% 0%;
    transform: skewY(-4deg);
    height: 179px;
    margin-bottom:-70px;
    width: 100%;
    z-index: -1;
}

footer {
    background: #707070;
    height: 149px;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    z-index: 4;
    position: relative;
    font-size: 12px;
    line-height: 25px;
}
